@import 'tailwindcss' important;
@config "../../tailwind.config.js";
@theme {
  --color-primary: #7da6a6;
  --color-base-100: #e4e2e3;
  --color-white: #fcffff;

  --color-primary-100: #dafff1;
  --color-primary-200: #a5cfcf;
  --color-primary-300: #97c1c1;
  --color-primary-400: #8ab3b4;
  --color-primary-500: #7da6a6;
  --color-primary-600: #638b8c;
  --color-primary-700: #395859;
  --color-primary-800: #2e3e3f;
  --color-primary-900: #102a2a;
  --radius-base: 1rem;
  --font-body: Parkinsans;
}

a {
  @apply no-underline;
}

.paginationjs {
  @apply flex justify-center items-center space-x-4 my-14;
}

.paginationjs-pages ul {
  @apply flex gap-3  px-3 py-2 rounded-lg  shadow-none;
}

.paginationjs-page a,
.paginationjs-prev a,
.paginationjs-next a {
  @apply flex items-center justify-center w-10 h-10 rounded-full bg-white text-gray-700 shadow-sm transition duration-200 hover:bg-gray-200 hover:text-black border-0;
}

.paginationjs-page.active a {
  @apply bg-gray-200 text-neutral-900 font-semibold;
}

.paginationjs-ellipsis a {
  @apply flex items-center justify-center w-10 h-10 rounded-full bg-white text-gray-700 cursor-default border-0 tracking-wider;
}

.paginationjs-prev,
.paginationjs-next {
  @apply bg-white  rounded-full hover:bg-gray-200;
}
