@section Styles {
    <link rel="stylesheet" href="@("https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/css/glide.core.min.css")" />
    <link rel="stylesheet" href="@("https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/css/glide.theme.min.css")" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

}

<section class=" ">
    <div class="bg-white rounded-t-2xl p-4">
        <div class="swiper ">
            <div class="swiper-wrapper">
                <div class="clip-path-container swiper-slide">
                    <svg viewBox="0 0 1520 794" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <clipPath id="clip-shape">
                                <path
                                    d="m1462.8,0H57.2C25.6,0,0,25.6,0,57.2v679.7c0,31.6,25.6,57.2,57.2,57.2h931.3c29.5,0,53.5-24,53.5-53.5h0c0-29.5,24-53.5,53.5-53.5h36.7c29.2,0,52.8-23.7,52.8-52.8h0c0-18.3,14.8-33.2,33.2-33.2h246.8c30.4,0,55-24.6,55-55V57.2c0-31.6-25.6-57.2-57.2-57.2Z" />
                            </clipPath>
                        </defs>
                        <image x="0" y="0" width="1520" height="794" href="/uploads/sliders/slider-2.png"
                            clip-path="url(#clip-shape)" preserveAspectRatio="xMidYMid slice" />
                    </svg>
                    <div class="clip-path-cta-container">
                        <svg viewBox="0 0 478 193" xmlns="http://www.w3.org/2000/svg" width="100%" height="auto">
                            <defs>
                                <clipPath id="colored-clip-shape">
                                    <path
                                        d="m143,33.2h0c0,29.2-23.7,52.8-52.8,52.8h-36.7c-29.5,0-53.5,24-53.5,53.5h0c0,29.5,24,53.5,53.5,53.5h89.5s275,0,275,0c33.1,0,60-26.9,60-60V60C478,26.9,451.1,0,418,0h-241.8c-18.3,0-33.2,14.8-33.2,33.2Z" />
                                </clipPath>
                            </defs>
                            <rect width="478" height="193" fill="#ff5733" clip-path="url(#colored-clip-shape)" />
                        </svg>
                        <div class="cta-text flex justify-between items-center w-fit 
    2xl:w-70 xl:w-60 lg:w-51 md:w-49 sm:w-41
    sm:pt-9 md:pt-12 lg:pt-4 xl:pt-4 
    md:pl-3 md:pr-4 lg:px-4 2xl:px-6
    pt-4 pr-2 bg-red-0">

                            <p class="text-[9px] sm:text-lg md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl">
                                <a href="">Know More!</a>
                            </p>

                            <iconify-icon icon="hugeicons:arrow-right-02"
                                class="text-[9px] sm:text-lg md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl">
                            </iconify-icon>
                        </div>

                        <div
                            class="left-0 cta-text items-start hidden lg:flex  lg:pl-2 xl:pl-4 2xl:pl-3 md:top-10 lg:top-15 xl:top-19.5 2xl:top-21.5 lg:gap-1 2xl:gap-6">
                            <img src="~/brands2.svg" class="lg:w-22 xl:w-30 2xl:w-40" alt="">

                            <div class=" flex flex-col 2xl:gap-1">
                                <p class="text-sm lg:text-[1.07rem] 2xl:text-xl">Awesome brands</p>
                                <span class="text-xs xl:text-sm 2xl:text-base ">
                                    Discover the Future of Tech!
                                </span>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@* <div class="glide">
        <!-- Slides here -->
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides overflow-hidden">
                <div class="home-slider-wrapper overflow-hidden">
                    <img src="~/uploads/sliders/slider-2.png" alt="">
                </div>
                <div class="home-slider-wrapper overflow-hidden">
                    <img src="~/uploads/sliders/slider-2.png" class="overflow-hidden" alt="">
                </div>
                <div class="home-slider-wrapper">
                    <img src="~/uploads/sliders/slider-2.png" alt="">
                </div>
            </div>
            <!-- <a href="https://www.jqueryscript.net/tags.php?/Navigation/">Navigation</a> -->
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    << /button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
            <!-- Pagination -->
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
            </div>
        </div>
    </div> *@


@* 
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="clip-path-container  overflow-hidden swiper-slide relative">
            <svg viewBox="0 0 1520 794" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <clipPath id="clip-shape">
                        <path
                            d="M 0,736 L 0,57 A 55,55 0,0,1 57,0 L 1463,0 A 55,55 0,0,1 1520,57 L 1520,520 A 55,55 0,0,1 1470,575 L 1223,575 A 55,55 0,0,0  1170,616 A 55,55 0,0,1 1117,666 L 1080,666 A 55,55 0,0,0 1027,710 L 1027,734 A 55,55 0,0,1 976,794 L 57,794 A 55,55 0,0,1 0,736 Z" />
                    </clipPath>
                </defs>
                <image x="0" y="0" width="1520" height="794" href="/uploads/sliders/slider-2.png"
                    clip-path="url(#clip-shape)" />
            </svg>
            <div class="max-w-[29.875rem] h-auto absolute bottom-0 ">
                <svg viewBox="0 0 478 193" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <clipPath id="colored-clip-shape">
                            <path
                                d="m143,33.2h0c0,29.2-23.7,52.8-52.8,52.8h-36.7c-29.5,0-53.5,24-53.5,53.5h0c0,29.5,24,53.5,53.5,53.5h89.5s275,0,275,0c33.1,0,60-26.9,60-60V60C478,26.9,451.1,0,418,0h-241.8c-18.3,0-33.2,14.8-33.2,33.2Z" />
                        </clipPath>
                    </defs>
                    <rect width="478" height="193" fill="#ff5733" clip-path="url(#colored-clip-shape)" />
                </svg>
            </div>
        </div>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div> *@


@section Scripts
{
    <script src="@("https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/glide.min.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- product section end -->
    <script>
        // Call the function when the page loads
        @* fetchSliders(); *@
            const swiper = new Swiper('.swiper', {
            autoplay: {
                delay: 2000,
            },
            spaceBetween: 20,
            slidesPerView: "auto",
            loop: true,
        });

        @* async function fetchSliders() {
            try {
                const response = await fetch("/api/setting/slider");
                if (!response.ok) {
                    throw new Error("Failed to fetch sliders");
                }

                const sliders = await response.json();

                sliders.forEach(slider => { console.log(slider) });
            } catch (error) {
                console.error("Error fetching sliders:", error);
            }
        } *@



    </script>
}